@import "element-variables.scss";

//@font-face {
//  font-family: 'CustomDigigface';
//  src: url('../assets/DIGITAL-Regular.ttf');
//  font-weight: normal;
//  font-style: normal;
//}

.custom-btns-style{
  width: 144px;
  height: 46px;
}

.el-button--text,.el-button--text:hover{
  color: $--parkingos-button-text-color;
}
.bgcolor-white{
  background: #fff;
}
.margin-20{
  margin:20px;
}
$--custom-dialog-header-bg:#193C7B;
  /*
  *  dialog
  */
::-ms-clear, ::-ms-reveal{display: none;}
.custom-dialog{
  //position: absolute;
  //top:50%;
  //left: 50%;
  //transform: translate(-50%,-50%);
  //margin: 0;
  border-radius: 6px;
  .el-dialog__header{
    position: relative;
    padding: 0 24px;
    line-height: 48px;
    background: $--custom-dialog-header-bg;
    color: #fff;
    font-size: 18px;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    .el-dialog__headerbtn{
      position: absolute;
      top:50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 30px;
    }
    .dialog-header-iconfont{
      position: absolute;
      right: 20px;
      top:50%;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .el-dialog__body{
    //padding: 0;
    padding: 30px 50px;
    .info-icon{
      display: inline-block;
      vertical-align: middle;
      width: 26px;
      height: 24px;
      margin-right: 16px;
    }
    .set-jurisdiction{
      background: #FBFEFF;
      border: 1px solid #D4D4D4;
      border-radius: 2px;
      height: 413px;
      .el-scrollbar__wrap{overflow-x:hidden;}
    }
  }
  .el-dialog__footer{
    padding:0 0 20px 0;
    .dialog-footer-btn{
      width: 144px;
      height: 46px;
    }
  }
}
.custom-dialog-top{
  border-radius: 6px;
  .el-dialog__header{
    position: relative;
    padding: 0 24px;
    line-height: 48px;
    background: $--custom-dialog-header-bg;
    color: #fff;
    font-size: 18px;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    .el-dialog__headerbtn{
      position: absolute;
      top:50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 30px;
    }
    .dialog-header-iconfont{
      position: absolute;
      right: 20px;
      top:50%;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .el-dialog__body{
    //padding: 0;
    padding: 0 0 30px 0;
    .info-icon{
      display: inline-block;
      vertical-align: middle;
      width: 26px;
      height: 24px;
      margin-right: 16px;
    }
    .set-jurisdiction{
      background: #FBFEFF;
      border: 1px solid #D4D4D4;
      border-radius: 2px;
      height: 413px;
      .el-scrollbar__wrap{overflow-x:hidden;}
    }
  }
  .el-dialog__footer{
    display: none;
    padding:0 0 20px 0;
    .dialog-footer-btn{
      width: 144px;
      height: 46px;
    }
  }
}
.custom-dialog-sms{
  .el-dialog__body{
    padding-top:18px;
    padding-bottom: 10px;
  }
}
//分割线
.dividing-wrapper{
  position: relative;
  .dividing-line{
    position: absolute;
    width: calc(100% - 100px);
    top:0;
    right: 0;
    height: 10px;
    border-bottom: 1px dashed #979797;
  }
}


//自定义dialog
.custom-dialog-register{
  .el-dialog__header{
    border: none;
  }
  .el-dialog__body{
    padding-top: 0;
  }
}
.custom-dialog-ordermanage{
  position: relative;
  width: 478px;
  height: 318px;
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
  border-radius: 6px;
  .el-dialog__header{
    padding: 0 20px;
    margin: 0;
    background: #193C7B;
  }
  .custom-dialog-title{
    position: relative;
    height: 47px;
    line-height: 47px;
    font-size: 18px;
    color: #FFFFFF;

    border-radius: 6px 6px 0px 0px;
    .dialog-header-iconfont{
      position: absolute;
      right: 0;
      top:10px;
      font-size: 24px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .el-dialog__body{
    padding: 18px;
    height: 234px;
    text-align: center;
  }
  .el-dialog__footer{
    display: none;
  }
}

//导入业主
.import-owners{
  border-radius: 6px;
  .el-dialog__header{
    position: relative;
    padding: 0 24px;
    line-height: 48px;
    background: $--custom-dialog-header-bg;
    color: #fff;
    font-size: 18px;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    .el-dialog__headerbtn{
      position: absolute;
      top:50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 30px;
    }
    .dialog-header-iconfont{
      position: absolute;
      right: 20px;
      top:50%;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
    }
  }
  .import-tip{
    background: rgba(216,216,216,0.27);
    border-radius: 4px;
    padding: 8px 0;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    a{
      margin-left: 5px;
      font-size: 14px;
      color: #80a4dc;
      text-decoration: none;
    }
  }
  .import-input-wrapper{
    position: relative;
    height: 32px;
    border: 1px solid #3C75CF;
    border-radius: 6px;
    .upload-demo{
      position: absolute;
      top:0;
      right: 0;
      .el-upload-list{
        position: absolute;
        top: -5px;
        left: -340px;
      }
    }
  }
}

.dialog-header{
  .dialog-title-icon{
    display: inline-block;
    width:4px;
    height:14px;
    background:rgba(14,95,246,1);
    border-radius:2px;
    margin-right: 10px;
  }
}
.dialog-footer{
  text-align: center;
}
.dialog-form-width{
  width: 450px;
}
.em-edit-dialog {
  .el-dialog__body {
    padding: 0;
    .custom-tab-wrapper{
      position: relative;
      height: 54px;
      background:rgba(245,247,250,1);
      .tab-item-wrapper{
        position: absolute;
        left: 23px;
        bottom: 0;
        width: 212px;
        height: 48px;
        display: flex;
        .tab-item{
          flex: 1;
          text-align: center;
          height: 48px;
          line-height: 48px;
          box-sizing: border-box;
          color: #909399;
          font-size: 16px;
          cursor: pointer;
        }
        .tab-item-active{
          border-top: 1px solid #193C7B;
          background: #FFFFFF;
          color: #3C75CF;
        }
      }
    }
    .tab-content{
      padding: 30px 50px 10px 50px;
      height: 380px;
    }
  }
}
//////////////////////////////////////////////////////////////////
.mian-header{
  position: relative;
  z-index: 99;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.08);
  .logo{
    padding: 11px 0 8px 0;
    float: left;
    display: flex;
    height:41px;
    margin-left: 20px;
    .logo-one{
      position: relative;
      width: 23px;
      height: 41px;
      line-height: 41px;
      img{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 23px;
        height: 24px;
      }
    }
    .logo-two{
      margin-left: 16px;
      position: relative;
      img{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 90px;
        height: 34px;
      }
    }
    //line-height: 50px;
    //font-size:28px;
    //font-family:Arial-BoldMT;
    //font-weight:bold;
    //color:rgba(134,147,243,1);
    //margin-left: 40px;
  }
  .console{
    position:relative;
    float: right;
    padding: 17px 0 21px 0;
    height: 22px;
    display: flex;
    justify-content:center;
    align-items:center;
    & > div{
      display: inline-block;
    }
    & > div.img-box{
      width: 20px;
      height: 20px;
      margin-right: 15.5px;
      text-align: center;
      img{
        vertical-align: bottom;
        display: inline-block;
        margin-top: 3px;
        width: 14px;
        height: 16px;
      }
    }
    & > div.username{
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: #1E1E1E;
      padding-right: 15.5px;
      border-right: 1px solid #D8D8D8;
    }
    & > div.outlogin{
      font-size: 16px;
      color: #1E1E1E;
      margin-left: 15.5px;
      margin-right: 28px;
      cursor: pointer;
    }
  }
}
//2018/10/26 orders
.right-wrapper-size{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  //margin: 10px;
  padding-top: 0;
  background-color: #f4f4f4;
  overflow-y: auto;
  overflow-x: hidden;
}
.table-wrapper{
}
.custom-header{
  margin: 0 20px;
  height: 50px;
  line-height: 50px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.shop-custom-header{
  height: 74px;
  line-height: 74px;
  padding: 0 20px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  font-weight: bold;
  color: #363636;
  background: #fff;
}


.scroll-hidden{
  .el-scrollbar__wrap {
    overflow-x: hidden !important;
  }
}
//.el-scrollbar__wrap {
//  overflow-x: hidden !important;
//}
.workbench-wrapper{
  padding: 15px 20px;
  margin: 0 20px 20px 20px;
  background-color: #fff;
  .clear-style{
    margin: 0;
    padding: 0;
    margin-left: 14px;
  }
  .clear-style-10{
    margin: 0;
    padding: 0;
    margin-left: 10px;
  }
  .clear-style-4{
    margin: 0;
    padding: 0;
    margin-left: 4px;
  }
  .margin-left-clear{
    margin-left: 0px;
  }
  .margin-left-20{
    margin-left: 20px;
  }
  .second-search-item-style{
    border-top: 1px solid #EEEEEE;
    margin-top: 14px;
    padding-top: 14px;
  }
}

//.el-form-item__content{
//  line-height: 30px;
//}
//.el-form-item__label{
//  line-height: 30px;
//}
.el-table{
  th{
    padding: 10px 0;
  }
  td{
    padding: 8px 0;
  }
}
.order-base-info{
  margin: 14px 12px;
  padding: 20px 25px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.03);
}
.order-title{
  position: relative;
  padding: 0 10px 20px 0;
  font-size: 16px;
  font-weight: bolder;
  text-indent: 10px;
  //height: 46px;
  //line-height: 46px;
  .bar-icon{
    position: absolute;
    top:0;
    left: 0;
    display:inline-block;;
    width: 3px;
    height: 20px;
    margin-right: 6px;
    background: #8693F3;
  }
}
.order-wrapper-s{
  .order-detail-row{
    border:1px solid;
    border-color: #D4D4D4;
    .order-detail-lable{
      //width:200px;
      height:45px;
      line-height: 45px;
      text-align: center;
      border-right:1px solid;
      border-color: #E7E9EA;
      background:#F6F8FA;
      box-sizing: border-box;
    }
    .order-detail-content{
      height:45px;
      line-height: 45px;
      text-align: center;
      border-color: #EEE;
      background:rgba(255,255,255,1);
      box-sizing: border-box;
    }
  }
}
.order-detail-row{
  border:1px solid;
  border-color: #D4D4D4;
  .order-detail-lable{
    //width:200px;
    height:40px;
    line-height: 40px;
    text-align: center;
    border-right:1px solid;
    border-color: #E7E9EA;
    background:#F6F8FA;
  }
  .order-detail-content{
    height:40px;
    line-height: 40px;
    text-align: center;
    border-color: #EEE;
    background:rgba(255,255,255,1);
  }
}
.order-money-wrapper{
  .order-info-receivable{
    .rece-title{
      line-height: 26px;
      font-size: 12px;
      color: #000000;
    }
    .rece-content{
      span{
        margin-right: 8px;
        font-size: 16px;
        color: #747474;
      }
      .rece-money{
        font-size: 32px;
        color: #EB8512;
      }
    }
  }
}
//.out_photo{
//  position:relative;
//  width: 530px;
//  height: 300px;
//  text-align: center;
//  margin: 0 !important;
//  padding: 0 !important;
//  border-radius: 4px;
//  overflow: hidden;
//  .out_photo_text{
//    position: absolute;
//    right: 0;
//    top:0;
//    z-index: 3;
//    width:80px;
//    height:30px;
//    line-height: 30px;
//    font-size:14px;
//    font-weight:bold;
//    color:rgba(255,255,255,1);
//    background:rgba(14,95,246,1);
//  }
//}

.float-right{
  float: right;
}
//tabs 样式重置
.custom-item-content{
  .el-tabs{
    .el-tabs__header{
      margin: 0;
      .el-tabs__nav-wrap{
        .el-tabs__nav-scroll{
          .el-tabs__nav{
            .el-tabs__item{
              height: 50px;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}
//form 样式重置
.custom-form-style{
  .el-form-item{
    .el-form-item__label{
      //line-height: 40px;
    }
    .el-form-item__content{
      .el-form-item__error{
        position: absolute;
        right:0;
        left: auto;
        top:-50%;
      }
    }
  }
}
//input样式重置 --商户管理
.custom-input-height{
  .el-input__inner{
    height: 46px;
    line-height: 46px;
    border-radius: 2px;
  }
}
.shop-common-btn{
  .custom-primary-btn{
    width: 132px;
    height: 46px;
    box-shadow: 0 3px 6px 0 rgba(51,121,233,0.30);
    border-radius: 6px;
    span{
      font-size: 16px;
    }
  }
  .custom-plain-btn{
    width: 132px;
    height: 46px;
    border-radius: 6px;
    span{
      font-size: 16px;
    }
  }
}
//shop-dialog 自定义
.custom-shop-clear-dialog{
  width: 475px;
  min-height: 340px;
  background: #FFFFFF;
  border-radius: 6px;
  .el-dialog__header{
    padding: 0;
    .el-dialog__headerbtn{
      .el-dialog__close{
        font-size: 18px;
        color: #727272;
        font-weight: bold;
      }

    }
  }
  .el-dialog__body{
    padding: 0;
  }
}
.custom-shop-dialog{
  width: 475px;
  min-height: 340px;
  background: #FFFFFF;
  border-radius: 6px;
  .el-dialog__header{
    .el-dialog__headerbtn{
      .el-dialog__close{
        font-size: 18px;
        color: #727272;
        font-weight: bold;
      }

    }
  }
  .shop-dialog-content{
    text-align: center;
    height: 196px;
    margin-bottom: 17px;
    img{
      display: inline-block;
      width: 196px;
      height: 196px;
    }
  }
  .shop-dialog-footer{
    text-align: center;
    .el-button{
      border: 1px solid #3C75CF;
      height: 46px;
      border-radius: 6px;
      span{
        font-size: 16px;
        color: #3C75CF ;
        a{
          text-decoration: none;
          color: #3C75CF;
        }
      }
    }
    .custom-dialog-btn{
      margin-left: 35px;
      height: 46px;
      span{
        color: #FFFFFF ;
        a{
          text-decoration: none;
          color: #FFFFFF;
        }
      }
    }

  }
}
//自定义颜色
$--shop-from-item__bgcolor:#FAFAFA;
$--shop-from-item__bordercolor:#D4D4D4;
//-----------------------------------------
.shop-custom-operation{
  margin-bottom: 14px;
  .shop-custom-header{
    font-size: 18px;
    color: #363636;
    height: 66px;
    line-height: 66px;
  }
  .shop-custom-console{
      .advanced-options{
        padding: 16px 19px;
        background: #FBFBFB;
        box-shadow: inset 0 -2px 3px 0 rgba(0,0,0,0.04), inset 0 2px 3px 0 rgba(0,0,0,0.05);
      }
      .console-main{
        background: #fff;
        padding: 18px 0 25px 19px;
      }
  }
}
.shop-custom-form-search{
  .el-form-item{
    margin-bottom: 0;
    background: $--shop-from-item__bgcolor;
    border: 1px solid $--shop-from-item__bordercolor;
    border-radius: 6px;
    .el-form-item__label{
      position: relative;
      line-height: 40px;
      padding: 0 12px 0 12px;
      &:after{
        position: absolute;
        top:50%;
        right:0;
        transform: translateY(-50%);
        width: 1px;
        height: 22px;
        background: #2C2C2C;
        content: '';
      }
    }
    .el-form-item__content{
      .shop-custom-input{
        .el-input__inner{
          border:none;
          background: none;
        }
      }
      .shop-custom-suffix{
        border-right: 1px solid  $--shop-from-item__bordercolor;
      }
      .shop-custom-datepicker{
        background: none;
        border:none;
        .el-range-input{
          background: none;
        }
      }
      .shop-custom-date{
        background: none;
        .el-input__inner{
          background: none;
          border:none;
        }
      }
    }
  }
  .el-form-item:hover{
    outline: none;
    border-color: #3C75CF;
  }
  .shop-clear-style{
    background: none;
    border: none;
  }
}
.shop-table-wrapper{
  //padding: 14px 12px;
}
//分页器///
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li{
  background: #fff;
  border:1px solid rgba(217,217,217,1);
  color: #666666;
}
.el-pagination{
  .el-pager{
    .number{
      border-radius: 4px;
      margin-right: 8px;
      width: 30px;
      height: 30px;
      padding: 0;

    }
  }
}
//--------color---------------//
$--fixed-code-title-bg: #193C7B;
//商户固定码dia
.shop-fixedCode-dialog{
  width: 478px;
  height: 474px;
  .el-dialog__header{
    padding: 0 24px;
    margin: 0;
    height: 48px;
    line-height: 48px;
    background: $--fixed-code-title-bg;
    color: $--alert-danger-color;
    .el-dialog__headerbtn{
      &>i{
        font-size: 16px;
        color: $--alert-danger-color;
      }

    }
  }
  .el-dialog__body{
    margin: 0;
    padding: 0;
  }
}
.shop-fixedCode-edit{
  width: 478px;
  height: auto;
}


//input 内嵌样式
.custom-append-style{
  .el-input-group__append{
    background: #3C75CF;
    font-size: 14px;
    color: #FFFFFF;
  }
}