$bg: #2d3a4b; //#008F4C; //#324157;//#0080dd;//#35495E;//#1F2D3D
.container {
  position: absolute;
  top: 0px;
  bottom: 0px;

  width: 100%;
  .header {
    height: 50px;
    line-height: 50px;

    background: $bg;
    color: #fff;
    .userinfo {
      text-align: right;
      padding-right: 20px;
      float: right;
      .userinfo-inner {
        cursor: pointer;
        color: #fff;
        img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin: 10px 0px 10px 10px;
          float: right;
        }
      }
    }
    .logo {
      //width:180px;
      height: 50px;
      font-size: 22px;
      padding-left: 20px;
      padding-right: 20px;
      border-color: rgba(238, 241, 146, 0.3);
      border-right-width: 1px;
      border-right-style: solid;
      img {
        width: 40px;
        float: left;
        margin: 10px 10px 10px 18px;
      }
      .txt {
        color: #fff;
      }
    }
    .logo-width {
      width: 180px;
    }
    .logo-collapse-width {
      width: 60px
    }
    .tools {
      padding: 0px 23px;
      width: 14px;
      height: 50px;
      line-height: 50px;
      cursor: pointer;
    }
  }
  .main {
    display: flex;
    // background: #324057;
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: hidden;
    aside {
      background: #EEF1F6;
      flex: 0 0 180px;
      width: 180px;
      // position: absolute;
      // top: 0px;
      // bottom: 0px;
      .el-menu {
        height: 100%;

      }

      .collapsed {
        width: 60px;
        .item {
          position: relative;
        }
        .submenu {
          position: absolute;
          top: 0px;
          left: 60px;
          z-index: 99999;
          height: auto;
          display: none;
        }

      }
    }
    .menuitem {
      font-size: 16px;
      /*margin-left: 12px;*/
      //color:black
    }
    .menu-collapsed {
      flex: 0 0 60px;
      width: 70px;
    }
    .menu-expanded {
      /*flex: 0 0 180px;*/
      width: 80px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
    .content-container {
      // background: #f1f2f7;
      flex: 1;
      // position: absolute;
      // right: 0px;
      // top: 0px;
      // bottom: 0px;
      // left: 180px;
      overflow-y: hidden;
      padding: 10px;
      padding-top: 8px;
      .breadcrumb-container {
        //margin-bottom: 15px;
        .title {
          width: 180px;
          float: left;
          color: #475669;
        }
        .title2 {
          width: 160px;
          float: left;
          color: #475669;
        }
        .breadcrumb-inner {
          float: right;
        }
      }
      .content-wrapper {
        background-color: #fff;
        box-sizing: border-box;
      }
    }
  }
}

/*el-menu-item选中加粗 左侧item*/
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, .el-menu-item.is-active {
  font-weight: bold;
}

@media print {
  .not-print {
    /*opacity: 0*/
  }
}

.el-menu--collapse {
  /*收缩后侧边栏宽度*/
  width: 70px;
}

/*为了解决添加 展开-收起 两个按钮后，左侧栏出现滚动条（即使高度够用也出现）*/
.el-menu-vertical-demo {
  /*充满剩余空间*/
  height: 0;
  flex: 1;
}

.container .main aside .el-menu[data-v-cbbc73a8] {
  /*item列表高度设置为0*/
  height: 0;
}

.menu-icon {
  /*左侧菜单栏图标*/
  color: #6d9eeb;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-right: 5px;
}

.menu-expan-button {
  /*收起、展开按钮样式*/
  width: 100%;
  margin-left: 0;
  background-color: #434A50;
  border: 0;
  border-radius: 0;
}
.menu-expan-button2 {
  /*收起、展开按钮样式*/
  width: 179px;
}