
@mixin scaleHeightPx($px) {
  @media screen and (max-width:1366px){
    $scale: 1 !default;//设置一个默认的缩放比例
    height:$px*$scale;
  }
  @media screen and (min-width:1367px) and (max-width:1920px){
    $scale: 1.4 !default;//设置一个默认的缩放比例
    height:$px*$scale;
  }
}
@mixin scaleFontSize($px){
  @media screen and (max-width:1366px){
    $scale: 1 !default;//设置一个默认的缩放比例
    font-size: $px*$scale;
  }
  @media screen and (min-width:1367px) and (max-width:1920px){
    $scale: 1.4 !default;//设置一个默认的缩放比例
    font-size: $px*$scale;
  }
}
@mixin scaleMargin($px1,$px2,$px3,$px4){
  @media screen and (max-width:1366px){
    $scale: 1 !default;//设置一个默认的缩放比例
    margin: ($px1*$scale) ($px2*$scale) ($px3*$scale) ($px4*$scale);
  }
  @media screen and (min-width:1367px) and (max-width:1920px){
    $scale: 1.4 !default;//设置一个默认的缩放比例
    margin: ($px1*$scale) ($px2*$scale) ($px3*$scale) ($px4*$scale);
  }

}

@mixin scalePadding($px1,$px2,$px3,$px4){
  @media screen and (max-width:1366px){
    $scale: 1 !default;//设置一个默认的缩放比例
    padding: ($px1*$scale) ($px2*$scale) ($px3*$scale) ($px4*$scale);
  }
  @media screen and (min-width:1367px) and (max-width:1920px){
    $scale: 1.4 !default;//设置一个默认的缩放比例
    padding: ($px1*$scale) ($px2*$scale) ($px3*$scale) ($px4*$scale);
  }

}

//////////////////////////////////////////////////////////////
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;
  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }
  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }
  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}
