
.item-box-left{
    display: inline-block;
    width: 280px;
    height: 100%;
    position:relative;
    left:5px;
}
.item-box-left video{
width: 100%;
height: 25%;
display: block;
}
.item-box-left-div{
display: inline-block;
position: absolute;
background:transparent;
border:1px;
border-color:#e9ecf3;
}
.item-box-left-button{
z-index: 10px;
background:transparent;
border: 0px;
border-color:#e9ecf3;
width:0px;
height:0px;
}
.item-box-center{
   display: inline-block;
   width: 900px;
   height: 100%;
   position: absolute;
   padding-left: 10px
}
.item-box-park-div{
display: inline-block;
position: absolute;
background:transparent;
top:53px;
right:15%;
margin-top: -40px;

}
.item-box-channel-div{
display: inline-block;
position: absolute;
background:transparent;
top:53px;
right:1%;
margin-top: -40px;

}
.item-box-center-div{
display: inline-block;
position: absolute;
background:transparent;
top:80%;
right:5%;
margin-top: -40px;

}
.item-box-center-button{
width:80px;
height:40px;
z-index: 10px;
background: url("../success.gif") fixed center center no-repeat;
background-size: cover;
width: 100%;
border-radius:50%;
}
.berthDiv{
border:0px solid #e9ecf3;
margin-top: 10px;
}
.eventDiv{
border:0px solid #e9ecf3;
position: absolute;
margin-top: 10px;
}
.item-box-center-button-number{
    color:green;
    text-align:center;
margin-left:auto;
margin-right:auto;
display:block;
line-height:90px;
font-size: 20px;
}
.item-box-right{
   display: inline-block;
   width: 440px;
   height: 100%;
   padding-left: 10px;
   right:1px;
   position: absolute;
}
.electradeDiv{
border:0px solid #e1f8f5;

}
.left{
width:300px;
min-height:100px;
margin:1px auto;
float:left;
padding-left: 5px;
}
.center{
margin:5px auto;
width:900px;
height:129px;
}
.leftSelect{
width:300px;
min-height:100px;
margin:1px auto;
float:left;
}
.leftSelect{
float: left;
padding: 10px;
}
.centerSelect{
margin:5px auto;
width: 900px;
height:162px;
display:table-cell;
vertical-align:middle;
width: auto;
padding-left: 5px;
}
.event_table{
width: 98%;
}
.event_td1{
width: 50%;
}
.event_td2{
width: 25%;
}
.event_td3{
width: 25%;
padding:5px 0;
 text-align: center;
}

.event_td4{
width: 30%;
padding:3px 0;
}

.event_td5{
width: 50%;
}

.btn{
width: 86%;
margin: 5px 10px;
background: #422bdc;
color: #fff;
border: none;
padding: 5px;
}
#orderTab{
width: 129%;
}

.monitorManagerDiv{
padding:10px;
background-color:white;
color:orange;
width:1000px;
height:600px;
display:block;
position: absolute;
top:50%;
left:50%;
margin-left:-500px;
margin-top:-300px;
}
.portlet {
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent!important;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.page-head {
background-color: #393a3e;
/*background-color: #3598dc;*/
}
.page-left{
width:18%;
float: left;
position: relative;
min-height: 1px;
padding-left: 0px;
padding-right: 0px;
border-radius: 0 !important;
margin-left: 1.25%;
}
.page-center{
width:52%;
float: left;
position: relative;
min-height: 1px;
padding-left: 0px;
padding-right: 0px;
border-radius: 0 !important;
margin-left: 1.25%;
}
.page-right{
width:25%;
float: left;
position: relative;
min-height: 1px;
padding-left: 0px;
padding-right: 0px;
border-radius: 0 !important;
margin-left: 1.25%;
}

.appOrderTotalFont{
height:50%;
width:8%;
margin-left:2%;
margin-top: 5%;
text-align: center;
font-size: 35px;
color:black;
float: left;
display:table;
}
.appOrderCountFont{
width:11.5%;
height:50%;
margin-left:10%;
margin-top: 5%;
background-color: #393a3e;
text-align: center;
font-size: 35px;
color:white;
float: left;
display:table;
}
.appOrderFont{
width:11.5%;
height:50%;
margin-left:2%;
margin-top: 5%;
background-color: #393a3e;
text-align: center;
font-size: 35px;
color:white;
float: left;
display:table;
}
.centerWrap {
  display:table;
}
.bottomContent {
  vertical-align:bottom;
  display:table-cell;
}
.centerContent {
  vertical-align:middle;
  display:table-cell;
}
/*重写属性*/
body{
background-color: #393a3e;
}
.col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-left: 0px;
padding-right: 0px;
}
h1{
font-size: 30px;
margin-top: 10px;
}
#monitorDiv {
padding:0px 20px 0px 20px;
}
#monitorTitleDiv {
margin-bottom: 0px;
}
#tradeCountMainDiv{
margin-top:10px;
}
:-webkit-full-screen {
background-color: #393a3e;
z-index: 2147483647;
}
#eventContent{
}
#eventContent>.modal-header {
padding: 10px;
border-bottom: 1px solid #FB6E17;
}
#eventContent>.modal-content {
 border: 0px solid #999;
 border: 0px solid rgba(0, 0, 0, 0.2);
}
#eventContent>.modal-body{
padding: 0px 0px 0px 0px;
}
#matDiv{
padding: 0px;
}
#matDiv>.col-lg-6{
padding: 0px;
}
#matFailDiv{
padding: 0px;
}
#matFailDiv>.col-lg-6{
padding: 0px;
}
